<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blacksheep.mtm.dao.TbNewsMapper">
  <resultMap id="BaseResultMap" type="com.blacksheep.mtm.pojo.manager.TbNews">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="author_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="pic" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
      <arg column="create_stamp" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_stamp" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.blacksheep.mtm.pojo.manager.TbNews">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="author_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="create_stamp" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_stamp" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="pic" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, cid, author_id, create_stamp, update_stamp
  </sql>
  <sql id="Blob_Column_List">
    pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.blacksheep.mtm.pojo.manager.TbNews" useGeneratedKeys="true">
    insert into tb_news (id, title, cid, 
      author_id, create_stamp, update_stamp, 
      pic)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{authorId,jdbcType=BIGINT},now(),now(),
      #{pic,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.blacksheep.mtm.pojo.manager.TbNews" useGeneratedKeys="true">
    insert into tb_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
        create_stamp,
        update_stamp,
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
        now(),
      now(),
      <if test="pic != null">
        #{pic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blacksheep.mtm.pojo.manager.TbNews">
    update tb_news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="createStamp != null">
        create_stamp = #{createStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=LONGVARCHAR},
      </if>
      update_stamp = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blacksheep.mtm.pojo.manager.TbNews">
    update tb_news
    set title = #{title,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=BIGINT},
      create_stamp = #{createStamp,jdbcType=TIMESTAMP},
      update_stamp = now(),
      pic = #{pic,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blacksheep.mtm.pojo.manager.TbNews">
    update tb_news
    set title = #{title,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=BIGINT},
      create_stamp = #{createStamp,jdbcType=TIMESTAMP},
      update_stamp = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectItemByCondition" resultMap="ResultMapWithBLOBs">
    SELECT * FROM tb_news
    WHERE (title LIKE #{search}
    OR
    id LIKE #{search})
    <if test="cid != -1">
      AND cid =#{cid}
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>

  <delete id="deleteBatchById" parameterType="int[]">
    delete from tb_news where id in
    <foreach close=")" collection="array" item="ids" open="(" separator=",">
      #{ids}
    </foreach>
  </delete>
</mapper>